mixin link(href, key, text)
  li.links__li
    a.links__a.shortcut(href=href, data-key=key, data-level="2", data-action="link")= text

mixin title(text, key, url)
  h3.links__section__title.title.shortcut(data-key=key, data-level="1", data-for=".links__section")
    if url
      a(href=url)= text
    else
      = text

.links.section.shortcut__parent.shortcut__block#links(data-level="0")
  h2.links__title.title.shortcut.shortcut__block__key(data-key="L", data-for="#links") Links:

  .links__row

    .links__section(data-level="1")
      +title('Google', 'G', 'https://google.ca')
      ul.links__ul
        +link('https://google.ca',        '_', 'Google')
        +link('https://gmail.com',        'G', 'Gmail')
        +link('https://youtube.com',      'Y', 'YouTube')
        +link('https://maps.google.com',  'M', 'Maps')
        +link('https://docs.google.com',  'D', 'Docs')
        +link('https://drive.google.com', 'r', 'Drive')

    .links__section(data-level="1")
      +title('University', 'U', 'http://www.umoncton.ca')
      ul.links__ul
        +link('https://www.umoncton.ca',                                 'U', 'Umoncton')
        +link('https://clic.umoncton.ca/portailclic_html_v2/index.html', 'C', 'Clic')
        +link('https://coop.umoncton.ca/login/student.htm',              'o', 'Coop')
        +link('https://socrate.umoncton.ca/accesprotege.htm',            'M', 'ManiWeb')
        +link('https://fichiers4.umoncton.ca/htcomnet/',                 'F', 'Files')
        +link('https://trello.com/b/aS9ZD2Uj/homework',                  'T', 'Trello')

    .links__section(data-level="1")
      +title('Programming', 'P')
      ul.links__ul
        +link('https://github.com/iambecomeroot', 'G', 'GitHub')
        +link('https://bitbucket.org/',                                'B', 'Bitbucket')
        +link('https://npmjs.com/',                                    'n', 'npm')

    .links__section(data-level="1")
      +title('Reddit', 'R', 'https://reddit.com')
      ul.links__ul
        +link('https://reddit.com/r/unixporn',            'U', 'Unix')
        +link('https://reddit.com/r/programmerhumor',     'H', 'Programmer Humour')
        +link('https://reddit.com/r/3dprinting',          '3', '3D Printing')
        +link('https://reddit.com/r/conkyporn',           'C', 'Conky')
        +link('https://www.reddit.com/r/linuxquestions/', 'Q', 'Linux Questions')

  .links__row

    .links__section(data-level="1")
      +title('Social', 'o')
      ul.links__ul
        +link('https://facebook.com', 'F', 'Facebook')
        +link('https://twitter.com',  'T', 'Twitter')

    .links__section(data-level="1")
      +title('Shopping', 'S')
      ul.links__ul
        +link('https://amazon.ca/?tag=geo01-20', 'A', 'Amazon')
        +link('https://aliexpress.com',          'E', 'AliExpress')
        +link('https://ca.pcpartpicker.com',     'P', 'PCPartPicker')

    .links__section(data-level="1")
    .links__section(data-level="1")
