doctype html
html
  head
    title Start Page
    link(rel="stylesheet", href=asset('/css/global.css'))

  body
    .content
      include _search

      include _links

    script(src=asset('/js/main.js'))
