body{
  background: $grey;
  font-family: 'Source Code Pro', monospace;
}

.underline{
  text-decoration: underline;
}

.focus.focus{
  outline-color: $cyan;
}

h2.title{
  color: $yellow;
  margin-top: 0;
}
  h3.title{
    color: $brown;
  }
