.content {
  height: 100vh;
  display: flex;
}

  .search {
    position: relative;
    border-radius: 3px;
    flex: 1;
    margin: 30px;
  }
    .search__input{
      width: calc(100% - 30px);
      margin-bottom: 20px;
      padding: 15px;
      border: none;
      font-size: 20px;
      border-bottom: 2px solid rgba($cream, .5);
      color: $cream;
      background: transparent;
    }
    .dropdown{
      left: 0;
      right: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      background: lighten($grey, 5%);
      z-index: 1;
      &:empty{
        display: none;
      }
    }
      .dropdown__li{
        padding: 10px;
        list-style: none;
        color: $cream;
        &.focus{
          text-decoration: underline;
        }
      }
        .search__result-wrapper {
          display: flex;
          align-items: center;
        }
          .search__result__svg {
            width: 30px;
            height: 30px;
            margin-right: 15px;
            padding: 10px;
            fill: $cream;
          }
          .dropdown__li__a,
          .dropdown__li__a:hover,
          .dropdown__li__a:focus,
          .dropdown__li__a:active,
          .dropdown__li__a:visited{
            text-decoration: none;
            color: inherit;
          }
