$grey: #1c1d19;

// #color0 = #1C1D19
$red:    #D01B24;
$green:  #A7D32C;
$yellow: #D8CF67;
$cyan:   #61B8D0;
$purple: #695ABB;
$pink:   #D53864;
$cream:  #FEFFFE;
$brown:  #c75646;
$orange: #dd7b3b;

// #color8 = #1C1D19
// #color9 = #D12A24
// #color10 = #A7D32C
// #color11 = #D8CF67
// #color12 = #61B8D0
// #color13 = #695ABB
// #color14 = #D53864
// #color15 = #FEFFFE
